---
import MingaFix from "../icons/MingaFix.astro";

const { isLoggedIn } = Astro.locals;
---

<!-- component -->
<header class="bg-white">
  <header>
    <nav class="container flex justify-between px-20 py-10 items-center ">
    <a href="/">
      <MingaFix class="w-20" />
    </a>
    <div class="flex items-center">
      <ul class="flex items-center space-x-6">
        {
          !isLoggedIn ? (
            <li class="font-semibold text-gray-700">
              <a href="/">Home</a>
            </li>
            <li class="font-semibold text-gray-700">
              <a href="/login">Ingresar</a>
            </li>
          ) : (
            <li class="font-semibold text-gray-700">
              <a href="/dashboard">Dashboard</a>
            </li>
            <li id="logout" class="font-semibold text-gray-700">
              <a href="#">Salir</a>
            </li>
          )
        }
      </ul>
    </div>
  </nav>
  </header>
</header>

<script>
  import { actions } from "astro:actions";

  const logoutElement = document.getElementById("logout") as HTMLLIElement;

  logoutElement?.addEventListener("click", () => {
    actions.logout();

    window.location.href = "/";
  });
</script>
