<!-- ---
import LayoutUser from "@/layouts/LayoutUser.astro";

import { getSession } from 'auth-astro/server'

const session = await getSession(Astro.request)

if (!session) {
	return Astro.redirect('/');
}

import { SignIn, SignOut } from 'auth-astro/components'
---

<LayoutUser>
  <div class="flex flex-1 flex-col gap-4 p-4 pt-0">
    <div class="grid auto-rows-min gap-4 md:grid-cols-3">
      <div
        class="aspect-video rounded-xl bg-navy/5 items-center justify-center flex flex-col text-navy"
      >
        <h2 class="text-7xl font-nunito font-extrabold">123</h2>
        <p>Número de repostes</p>
      </div>
      <div
        class="aspect-video rounded-xl bg-navy/5 items-center justify-center flex flex-col text-navy"
      >
        <h2 class="text-7xl font-nunito font-extrabold">123</h2>
        <p>Solicitudes culminadas</p>
      </div>
      <div
        class="aspect-video rounded-xl bg-navy/5 items-center justify-center flex flex-col text-navy"
      >
        <h2 class="text-7xl font-nunito font-extrabold">123</h2>
        <p>Número de voluntarios</p>
      </div>
    </div>
    <SignOut>Cerrar sessió</SignOut>
    <div class="min-h-[100vh] flex-1 rounded-xl bg-muted/50 md:min-h-min"></div>
  </div>
</LayoutUser> -->
