@import 'tailwindcss';
@import "tw-animate-css";

@theme { 
  --color-gold: #C8A44C;
  --color-navy: #1D2849;
  --color-blue: #123061;
  --color-cream: #EFEBE5;
  --color-beige: #FAF6EE;

  --font-nunito: 'Nunito Variable', sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-nunito;
  }
  li,p,a,h1,h2,h3,h4,h5,h6 {
    @apply font-nunito;
  }
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

p {
  @apply text-lg font-nunito;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}