---
import MainLayout from "@/layouts/MainLayout.astro";
import { db, Report } from "astro:db";

interface Report {
    reportId: string,
    UserId: string,
    title: string,
    image: string,
    description: string,
    location: string,
    state: string,
}

const allReports: Report[] = await db.select().from(Report);

console.log(allReports);
---
<MainLayout>
    <main class="container my-10">

        <h1 class="text-center font-bold text-4xl">Colabora con un causa</h1>
        <p class="text-center">¡Únete a nosotros y haz la diferencia!</p>
        
        <section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 ">

            {
                allReports.map( ({reportId, title, image,}) => {
                    return (
                    <article class=" bg-white flex flex-col items-center justify-center rounded-lg shadow-sm hover:shadow-lg transition-all p-4 m-4">
                        <img class="w-full h-40 object-cover rounded-xl" src={`/public/uploads/${image}`} alt="" />
                        <h2 class="text-2xl font-bold">{title}</h2>
                        <a href={`/reports/${reportId}`} class="bg-blue text-center w-full text-white rounded-full text-xl
                        font-nunito py-2">
                            Mas detalles
                        </a>
                    </article>
                    )
                })
            }
        </section>

    </main>
</MainLayout>