---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <main class="my-10">
    
    <h1 class="text-center font-bold text-4xl">Haz un reporte</h1>
    <p class="text-center">Cuentanos brevemente la situaci贸n que se esta presentado.</p>

    <div class="flex justify-center self-center z-10 mt-5">
      <div class="p-12 bg-white mx-auto rounded-2xl w-100">
        <form class="space-y-5">
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Problema que se esta presentado</label
            >
            <input
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue"
              type="text"
              name="title"
              placeholder="Ejemplo: Via bloqueada"
            />
          </div>
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Describe la situaci贸n actual</label
            >
            <textarea
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue"
              name="description"
              placeholder="Ejemplo: La via se encuentra bloqueada por un derrumbe."
            />
          </div>
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Imagen de la situaci贸n</label
            >
            <input
              id="file-upload"
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue"
              type="file"
              name="image"
              accept="image/*"
            />
          </div>
          <div class="space-y-2">
            <label class="text-sm font-medium text-gray-700 tracking-wide"
              >Ubicaci贸n</label
            >
            <input
              class="w-full text-base px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:border-blue"
              type="text"
              name="location"
              placeholder="Ejemplo: Carrera 10 # 20 - 30"
            />
          </div>
          <div>
            <button
              type="submit"
              id="btn-submit-report"
              class="disabled:bg-gray-400 w-full flex justify-center bg-blue hover:bg-navy text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
            >
              Reportar Problema
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</MainLayout>

<script>
  import { actions } from "astro:actions";
  import Swal from "sweetalert2";

  const form = document.querySelector("form") as HTMLFormElement;
  const btnSubmitReport = document.querySelector("#btn-submit-report") as HTMLButtonElement;

  form.addEventListener("submit", async (e) => { 
    e.preventDefault();
    btnSubmitReport.setAttribute("disabled", "disabled");
    
    const formData = new FormData(form);

    // const formValues = Object.fromEntries(formData.entries());

    const { error, data } = await actions.createReport(formData);

    if ( error ) { 
      Swal.fire({
        icon: "error",
        title: "Error",
        text: "Valida que estes enviadon los datos correctamente.",
      });
      btnSubmitReport.removeAttribute("disabled");
      return;
    }

    window.location.href = "/profile/reports";
    
  })
  
</script>
