---
import AuthLayout from "@/layouts/AuthLayout.astro";
---

<AuthLayout>
  <main class="mt-10">
    <div class="flex justify-center self-center z-10">
      <div class="p-12 bg-white mx-auto rounded-2xl w-100">
        <div class="mb-4">
          <h3 class="font-semibold text-2xl text-gray-800">
            Iniciar Sesión o Registrarse<nav></nav>
          </h3>
          <p class="text-gray-500">Inicia sesión o registrese con una cuenta de Google</p>
        </div>
        <form class="space-y-5">
            <button
              type="button"
              id="btn-google"
              class="disabled:bg-gray-300 w-full flex justify-center bg-red-500 hover:bg-red-600 text-gray-100 p-3 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500"
            >
              Ingresar con Google
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</AuthLayout>

<script>
  import { firebase } from "@/firebase/config";
  import { actions } from "astro:actions";
  import { GoogleAuthProvider, signInWithPopup } from "firebase/auth";
  import Swal from "sweetalert2";

  const btnSubmitGoogle = document.querySelector("#btn-google") as HTMLButtonElement;

  btnSubmitGoogle.addEventListener("click", async (e) => {
    
    btnSubmitGoogle.setAttribute("disabled", "disable");
    const provider = new GoogleAuthProvider();

    try { 
      const credentials = await signInWithPopup( firebase.auth, provider);

      const { error } = await actions.loginWithGoogle(credentials);

      if ( error ) { 
        Swal.fire({
          icon: 'error',
          title: 'Error al iniciar sesión con Google',
          text: 'Por favor intenta nuevamente',
        })
        console.log(error)
        btnSubmitGoogle.removeAttribute("disabled");
        return;
      }

      btnSubmitGoogle.innerText = "Redireccionando...";
      window.location.replace("/profile");
      
    } catch (error) { 
      console.log(error)
      btnSubmitGoogle.removeAttribute("disabled");
    }
  })
</script>
