---
// Supports weights 200-900
import '@fontsource-variable/nunito';
import '@/styles/global.css';
import Page from '@/components/dashboard/page';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>MingaFix</title>
	</head>
	<body class="bg-linear-to-r from-cream to-beige">
		<Page client:load>
			<slot />
		</Page>
	</body>
</html>
